<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>EB_Helmet</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/EB_Helmet.css">
</head>

<body>
<!-- load js -->
<script src="../static/js/jquery-3.6.0.js"></script>
<script src="../static/js/echarts.min.js"></script>
<!-- 用高德地图Web端KEY不是Web服务端KEY -->
<script src="https://webapi.amap.com/maps?v=1.4.15&key=e06a4aaa55b2b6206ada648be675cea5"></script>

<!-- header -->
<div class="header">
    <h1>电动自行车头盔佩戴检测系统</h1>
</div>

<!-- map -->
<div class="map" id="myMap"></div>

<!-- left -->
<div class="left">
    <div class="container">
        <div class="label" style="width: 100px;">
            <h3>当日数据</h3>
        </div>
        <div class="content" style="padding-bottom: 10px;">
            <div class="box" style="margin: auto;">
                <div id="myPie1" style="width: 120px; height: 120px;"></div>
                <div style="color: white; font-size: 15px; text-align: center;">下行</div>
            </div>
            <div class="box" style="margin: auto;">
                <div id="myPie2" style="width: 120px; height: 120px;"></div>
                <div style="color: white; font-size: 15px; text-align: center;">未佩戴头盔</div>
            </div>
            <div class="box" style="margin: auto;">
                <div id="myPie3" style="width: 120px; height: 120px;"></div>
                <div style="color: white; font-size: 15px; text-align: center;">机动车道行驶</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="label" style="width: 250px;">
            <h3>电动自行车驾驶员详细信息</h3>
        </div>
        <div class="content">
            <div class="box" style="width: 140px; height: 200px; margin-left: 10px; margin-right: 20px">
                <img id="catch_camera" src="../static/picture/catch.png" style="height: 200px; width: auto;">
            </div>
            <div class="box" style="margin-left: 0px;">
                <div class="attribute">编号</div>
                <div class="attribute">行驶方向</div>
                <div class="attribute">头盔佩戴</div>
                <div class="attribute">行驶车道</div>
                <div class="attribute">捕获时间</div>
            </div>
            <div class="box" style="margin-left: 0px;">
                <div id="catch_identitie" class="value">Null</div>
                <div id="catch_direction" class="value">Null</div>
                <div id="catch_helmet" class="value">Null</div>
                <div id="catch_lane" class="value">Null</div>
                <div id="catch_time" class="value">Null</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <table class="table-box">
                <thead>
                <tr>
                    <th>监控编号</th>
                    <th>行驶方向</th>
                    <th>头盔佩戴</th>
                    <th>行驶车道</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- right -->
<div class="right">
    <div class="container">
        <div class="label" style="margin-left: 0px; margin-bottom: 10px; width: 200px;">
            <h3>实时监控摄像</h3>
        </div>
        <div id="small_window" class="content" style="margin-left: 0px;">
            <img id="camera" src="../static/picture/disconnect.png" style="width: 450px; height: auto;">
        </div>
    </div>

    <div class="container">
        <div class="label" style="margin-left: 0px; margin-bottom: 10px; width: 200px;">
            <h3>小时级数据</h3>
        </div>
        <div class="content" style="margin-left: 0px;">
            <div id="myLine" style="width: 450px; height: 265px;"></div>
        </div>
        <div class="content" style="margin-left: 0px;">
            <div class="box" style="color: white; text-align: center;">
                <p id="time" style="margin: 0px; font-size: 30px; font-weight: 900;">Null</p>
                <p id="date" style="margin: 0px; font-size: 10px;">Null</p>
            </div>
            <div class="box"
                 style="margin: 7px; margin-left: 0px; margin-right: 10px; padding-left: 20px; border-left: 2px solid white;">
                <img id="weather_image" src="../static/picture/weather/weather_img01.png">
            </div>
            <div class="box" style="margin-left: 0px; color: white; text-align: left;">
                <p id="weather" style="margin: 0px; font-size: 20px; font-weight: 900;">Null</p>
                <p id="temperature" style="margin: 0px;">Null</p>
                <p id="location" style="margin: 0px;">Null</p>
            </div>
        </div>
    </div>
</div>

<!-- center -->
<div class="center">
    <!-- counter -->
    <div class="container">
        <div class="content" style="margin-left: 25px; border: none; box-shadow: none; background: none;">
            <div class="box" style="width: 33%;">
                <div class="row">
                    <div class="sign"></div>
                    <h3>当日流量</h3>
                </div>
                <div class="row" style="text-align: center;">
                    <h1 id="count_total">0</h1>
                </div>
            </div>
            <div class="box" style="width: 33%;">
                <div class="row">
                    <div class="sign"></div>
                    <h3>未佩戴头盔</h3>
                </div>
                <div class="row" style="text-align: center;">
                    <h1 id="count_helmet">0</h1>
                </div>
            </div>
            <div class="box" style="width: 33%;">
                <div class="row">
                    <div class="sign"></div>
                    <h3>机动车道行驶</h3>
                </div>
                <div class="row" style="text-align: center;">
                    <h1 id="count_lane">0</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var map = new AMap.Map('myMap', {
        resizeEnable: true,
        center: [106.573051, 29.489872],
        zoom: 16,
        mapStyle: 'amap://styles/grey', //设置地图的显示样式
    });

    // time
    function time() {
        var weekdays = ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
        var now = new Date();
        var year = now.getFullYear();
        var month = (now.getMonth() + 1) < 10 ? '0' + (now.getMonth() + 1) : (now.getMonth() + 1);
        var day = now.getDate() < 10 ? '0' + now.getDate() : now.getDate();
        var week = weekdays[now.getDay()];
        var hour = now.getHours() < 10 ? '0' + now.getHours() : now.getHours();
        var minute = now.getMinutes() < 10 ? '0' + now.getMinutes() : now.getMinutes();
        var second = now.getSeconds() < 10 ? '0' + now.getSeconds() : now.getSeconds();
        document.getElementById("time").innerText = hour + ':' + minute + ':' + second
        document.getElementById("date").innerText = year + '/' + month + '/' + day + ' ' + week
        setTimeout(time, 1000);
    }
    document.getElementById("count_total").innerText = Math.floor(Math.random() * 100)
    document.getElementById("count_helmet").innerText = Math.floor(Math.random() * 100)
    document.getElementById("count_lane").innerText = Math.floor(Math.random() * 100)


    // onload function
    window.onload = function () {
        time()
    }
    // set device
    var device = 'NVR-7106-3'
    // count old data
    var Up = Math.floor(Math.random() * 100)
    var Down = Math.floor(Math.random() * 100)
    var With_Helmet = Math.floor(Math.random() * 100)
    var Without_Helmet = Math.floor(Math.random() * 100)
    var Miss = 0
    var Motor_Lane = Math.floor(Math.random() * 100)
    var Bicycle_Lane = Math.floor(Math.random() * 100)
    var Label = ['未佩戴头盔', '机动车道行驶']
    var Time = ['12 am', '1 am', '2 am', '3 am', '4 am', '5 am', '6 am', '7 am', '8 am', '9 am', '10 am', '11 am', '12 pm', '1 pm', '2 pm', '3 pm', '4 pm', '5 pm', '6 pm', '7 pm', '8 pm', '9 pm', '10 pm', '11 pm']
    var Helmet = Array.from({ length: 24 }, () => Math.floor(Math.random() * 100));
    var Lane = []
    // init echarts
    var myLine = echarts.init(document.getElementById('myLine'));
    var myPie1 = echarts.init(document.getElementById('myPie1'));
    var myPie2 = echarts.init(document.getElementById('myPie2'));
    var myPie3 = echarts.init(document.getElementById('myPie3'));
    // init myLine
    myLine.setOption({
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                lineStyle: {
                    color: '#dddc6b'
                }
            }
        },
        legend: {
            top: '0%',
            data: Label,
            textStyle: {
                color: 'rgba(255,255,255,.5)',
                fontSize: '12',
            }
        },
        grid: {
            left: '10',
            top: '30',
            right: '10',
            bottom: '10',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            axisLabel: {
                textStyle: {
                    color: "rgba(255,255,255,.6)",
                    fontSize: 12,
                },
            },
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            data: Time
        },
            {
                axisPointer: {show: false},
                axisLine: {show: false},
                position: 'bottom',
                offset: 20,
            }],
        yAxis: [{
            type: 'value',
            axisTick: {show: false},
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                textStyle: {
                    color: "rgba(255,255,255,.6)",
                    fontSize: 12,
                },
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            }
        }],
        series: [
            {
                name: Label[0],
                data: Helmet,
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 5,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        color: '#0184d5',
                        width: 2
                    }
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(1, 132, 213, 0.4)'
                        }, {
                            offset: 0.8,
                            color: 'rgba(1, 132, 213, 0.1)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#0184d5',
                        borderColor: 'rgba(221, 220, 107, .1)',
                        borderWidth: 12
                    }
                },
            },
            {
                name: Label[1],
                data: Lane,
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 5,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        color: '#00d887',
                        width: 2
                    }
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(0, 216, 135, 0.4)'
                        }, {
                            offset: 0.8,
                            color: 'rgba(0, 216, 135, 0.1)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#00d887',
                        borderColor: 'rgba(221, 220, 107, .1)',
                        borderWidth: 12
                    }
                },
            }]
    });
    //init myPie1
    myPie1.setOption({
        series: [{
            type: 'pie',
            radius: ['60%', '80%'],
            color: '#0088cc',
            label: {
                normal: {
                    position: 'center'
                }
            },
            data: [{
                value: Down,
                name: '下行总数',
                label: {
                    normal: {
                        formatter: Down + '',
                        textStyle: {
                            color: '#fff',
                            fontSize: 20,
                        }
                    }
                }
            },
                {
                    value: Up,
                    name: '上行总数',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(Down / (Down + Up) * 100) + '%'
                            },
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    }
                }]
        }]
    });
    //init myPie2
    myPie2.setOption({
        series: [{
            type: 'pie',
            radius: ['60%', '80%'],
            color: '#fccb00',
            label: {
                normal: {
                    position: 'center'
                }
            },
            data: [{
                value: Without_Helmet + Miss,
                name: '未佩戴头盔总数',
                label: {
                    normal: {
                        formatter: Without_Helmet + Miss + '',
                        textStyle: {
                            color: '#fff',
                            fontSize: 20,
                        }
                    }
                }
            },
                {
                    value: With_Helmet,
                    name: '佩戴头盔总数',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(Without_Helmet + Miss / (Without_Helmet + Miss + With_Helmet) * 100) + '%'
                            },
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    }
                }]
        }]
    });
    //init myPie3
    myPie3.setOption({
        series: [{
            type: 'pie',
            radius: ['60%', '80%'],
            color: '#62b62f',
            label: {
                normal: {
                    position: 'center'
                }
            },
            data: [{
                value: Motor_Lane,
                name: '机动车道行驶总数',
                label: {
                    normal: {
                        formatter: Motor_Lane + '',
                        textStyle: {
                            color: '#fff',
                            fontSize: 20,
                        }
                    }
                }
            },
                {
                    value: Bicycle_Lane,
                    name: '非机动车道行驶总数',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(Motor_Lane / (Motor_Lane + Bicycle_Lane) * 100) + '%'
                            },
                            textStyle: {
                                color: '#fff',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    }
                }]
        }]
    });
</script>
</body>
</html>